.form__fieled{
  margin: 0 auto 30px;
  padding: 0;
  width: 358px;
  height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

@media screen and (max-width: 890px){
  .form__fieled{
    width: 238px;
    height: 27px;
  }
}
